html
{
  overscroll-behavior: none;
}

body
{
    margin: 0px auto;
    font-size: 1.2rem;
    color: #3d3d3d;
    background-color: #fff;
    font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
}

/**********************************************
 * Screen Reader Only
 **********************************************/
.sr-only 
{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}


/**********************************************
 * TABLE DEFAULTS
 **********************************************/

table
{
    margin-left: auto;
    margin-right: auto;
}

table.left
{
    margin-left: 0px;
}

td
{
    text-align: left;
    vertical-align: top;
}


audio
{
    border-radius:5px;
}

/**********************************************
 * TEXT SIZES and WEIGHTS
 **********************************************/

.textbold
{
    font-weight: bold;    
}

.textitalic
{
    font-style: italic;    
}

.textverylarge
{
    font-size:  1.4rem;
}

.textlarge
{
    font-size:  1.3rem;
}

.textmedium
{
    font-size:  1.2rem;
}

.textmedsmall
{
    font-size:  1.2rem;
}


.textsmall
{
    font-size:  1.2rem;
}

.texttiny
{
    font-size:  1rem;
}

/* Used to make links created with h tags or a tag looks the same as links created by primefaces  */
.pflinktext 
{
    font-family: Roboto, Verdana, Arial, Helvetica, sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.visiborder
{
    border:1px solid lightgray;
    border-radius:10px;
}




/**********************************************
 * TEMPLATE LAYOUT CLASSES
 **********************************************/

.pagewrapper
{
   text-align:center; 
   margin-top:5px;
   margin-bottom:10px;
}

.pageinnerdiv
{
    display:block;        
}

img
{
    border-width: 0px;
}

.ui-selectoneradio label
{
    font-size:  1.2rem;
}

body .ui-widget
{
    font-size:  1.2rem;
    font-family: Roboto, Verdana, Arial, Helvetica, sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
.ui-g-12, .ui-md-12
{
    padding:0 !important;
}

